<nav>
    <div class="container">
        <div class="nav-container">
            <a href="/" class="nav-brand">👶 Baby Clothes</a>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/clothes">Clothings</a></li>
                <li><a href="/clothes/create">Add new</a></li>
            </ul>
        </div>
    </div>
</nav>